body{
    font-family:'Quicksand', sans-serif;
    color: #ffffff;
}

.dots{
    font-size: 40px;
    position: fixed;
    top:35%;
    line-height: 40px;
    opacity: 0.8;
    right: 10px;
}

.dot{
    text-decoration: none;
    color: #FFFFFF;
}

.dot:hover{
    color: #bdbdbf;
}

.page{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    text-align: center;
    padding: 0px 40px 0px 40px;
    line-height: 30px;
    font-size: 20px;
}

#titel{
    padding-top: 20%;
    font-size: 50px;
}

h1{
    padding: 20% 0% 10% 0%;
    font-size: 30px;
}

h2{
    font-style: italic;
}

#page1{
    background-image: url("../images/backgrounds/image1WIT.png");
}

#page2{
    background-image: url("../images/backgrounds/image4WIT.png");
}

#page3{
    background-image: url("../images/backgrounds/image5WIT.png");
}

#page4{
    background-image: url("../images/backgrounds/image6WIT.png");
}

#page5{
    background-image: url("../images/backgrounds/image8WIT.png");
}

#mockup1{
    margin-top:10%;
    height: 40vh;
}

#mockup2{
    margin-top:10%;
    height: 40vh;
}

#mockup3 {
    margin-top: 10%;
    height: 40vh;
}

#instagram{
    height: 15vh;
    margin: 3%;
}

#twitter{
    height: 15vh;
    margin: 3%;
}

#titelonderaan{
    padding: 5% 0% 10% 0%;
    font-size: 60px;
    color: #ffffff;
}

#logo{
    margin-top:15%;
    height: 250px;
}

#appstore{
    margin-top:10%;
    height: 9vh;
}

#playstore{
    height: 9vh;
}


@media screen and (min-width: 768px) {

    #titel{
        font-size: 75px;
        padding: 6% 0% 5% 0%;
    }

    h2{
        font-size: 25px;
        padding: 0% 20% 0% 20%;
    }

    #mockup1{
        margin-top:3%;
        height: 52vh;
    }

    h1{
        padding: 10% 0% 3% 0%;
        font-size: 45px;
    }
    #mockup2{
        margin-top:3%;
        height: 52vh;
    }

    #mockup3 {
        margin-top:3%;
        height: 52vh;
    }

    #logo{
        margin-top:10%;
        height: 40vh;
    }

    #titelonderaan{
        padding: 3% 0% 5% 0%;
        font-size: 75px;
    }

    #verkrijgbaar{
        margin-bottom:3%;
    }

    #appstore{
        margin-top:0%;
        height: 7vh;
    }

    #playstore{
        height: 7vh;
    }

}


